* {
  font-family: "Encode Sans Expanded", sans-serif;
  margin: 0;
  padding: 0;
  font-family: 16px;
}
body {
  background: #020202;
  background-image: url(/alplato/static/media/fastFoodPattern.eb87df23.jpg);
  background-size: fit;
  background-repeat: repeat;
}
body,
html {
  overflow-x: hidden;
}
.formModal {
  margin-top: 12px;
  background: linen;
  background: linear-gradient(126deg, linen, #e4d5b7);
  box-shadow: 0 13px 26px 3px rgba(0, 0, 0, 0.75);
  color: #000;
  padding: 30px;
  position: absolute;
  width: 50%;
  z-index: 200;
}
@media screen and (max-width: 420px) {
  .formModal {
    margin-top: 7rem;
    width: 80vw;
    height: 100vh;
  }
  .divPopupMotion {
    z-index: 100000;
  }
  .PEmailConsultas {
    text-align: center;
    font-size: 18px;
  }
}
.formConsultasContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formModalHero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 648px;
}
.mapIco {
  transform: rotate(90deg);
}
.divMapsPosition {
  position: absolute;
  margin-top: 210px;
}
.divPopupMotion {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  margin-top: 164px;
}
.agendaUl {
  list-style: none;
  margin-top: 50px;
}
.liTask {
  border-bottom: 1px solid #020202;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3px;
}
.btnDeleteTask {
  background-color: #cf0000;
}
.btnDeleteTask,
.btnEditTask {
  padding: 10px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.btnEditTask {
  background-color: #f29900;
}
.slick-dots {
  margin-bottom: 1.5625rem;
}
.slick-next {
  position: absolute;
  margin-right: 1.875rem;
}
.slick-prev {
  position: absolute;
  margin-left: 1.875rem;
}
.slick-next:before {
  color: #020202;
}
.slick-prev:before {
  color: #020202;
  z-index: 10;
}
.consultasNoti {
  position: absolute;
  top: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  background-color: #cf0000;
  color: #fff;
  border-radius: 50%;
}
.consultasNoti,
.products-container {
  justify-content: center;
  align-items: center;
}
.products-container {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  z-index: 3;
}
.h1MenuFood,
.products-container {
  background-color: hsla(0, 0%, 99.6%, 0.6588235294117647);
}
.h1MenuFood {
  text-align: center;
  margin-bottom: 15px;
}
.content {
  width: 100%;
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: hsla(0, 0%, 99.6%, 0.6588235294117647);
}
.inputMenu {
  width: 450px;
  padding: 10px;
  outline: none;
  font-size: 17px;
  margin-top: 15px;
}
@media screen and (max-width: 420px) {
  .inputMenu {
    width: 90%;
  }
}
.products-container .product-card {
  width: 300px;
  height: auto;
  margin: 20px;
  display: flex;
  background-color: #e4e4e4;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  box-shadow: 5px 5px 4px #747474;
  position: relative;
  z-index: 3;
}
.products-container .product-card .product-img {
  width: 100%;
  height: 330px;
}
.products-container .product-card .product-img img {
  width: 100%;
  height: 100%;
}
.products-container .product-card .product-name {
  display: block;
  width: 100%;
  color: #f57224;
  margin-top: 5px;
}
.products-container .product-card .product-price {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.products-container .product-card .addcart-btn {
  background-color: #f57224;
  color: #fff;
  border: hidden;
  cursor: pointer;
  width: 100%;
  padding: 10px 14px;
  margin-top: 5px;
  margin-bottom: 2px;
  outline: none;
}
.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  z-index: 3;
}
.cart-container .cart-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  z-index: 3;
}
@media (max-width: 768px) {
  .cart-container .cart-card {
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #e4e4e4;
  }
}
@media screen and (max-width: 365px){
    .h2popup {
      bottom: 8rem;
    }
    .btnpopup {
      bottom: 8rem;
    }
  }
.cart-container .cart-card .cart-img {
  width: 150px;
  height: 120px;
}
@media (max-width: 768px) {
  .cart-container .cart-card .cart-img {
    width: 90%;
    height: auto;
  }
}
.cart-container .cart-card .cart-img img {
  width: 100%;
  height: 100%;
}
.cart-container .cart-card .cart-name,
.cart-container .cart-card .cart-price {
  width: 150px;
  margin-left: 20px;
}
@media (max-width: 768px) {
  .cart-container .cart-card .cart-name,
  .cart-container .cart-card .cart-price {
    width: 90%;
    margin-left: 0;
    text-align: center;
    margin-top: 4px;
  }
}
.cart-container .cart-card .cart-price-orignal {
  width: 150px;
  margin-left: 20px;
  color: #f57224;
}
@media (max-width: 768px) {
  .cart-container .cart-card .cart-price-orignal {
    width: 90%;
    margin-left: 0;
    text-align: center;
    margin-top: 4px;
  }
}
.delete-btn {
  background-color: transparent;
  border: hidden;
  outline: none;
  color: red;
}
.dec,
.delete-btn,
.inc {
  cursor: pointer;
}
@media (max-width: 768px) {
  .dec,
  .delete-btn,
  .inc {
    margin-top: 4px;
  }
}
/*# sourceMappingURL=main.82b485ec.chunk.css.map */
